<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practicesystem.mapper.MusicMapper">

    <select id="findAll" resultType="com.practicesystem.pojo.Music">
        select * from songs.tb_songs
    </select>

    <delete id="deleteById">
        delete from songs.tb_songs where id=#{id}
    </delete>

    <insert id="insertMusic">
        insert into songs.tb_songs(name, singer) values (#{name},#{singer})
    </insert>

    <update id="updateMusic">
        update songs.tb_songs set name=#{name},singer=#{singer} where id=#{id}
    </update>

    <select id="findById" resultType="com.practicesystem.pojo.Music">
        select * from songs.tb_songs where id=#{id}
    </select>
    <!--    <resultMap id="UserResultMap" type="com.practicesystem.pojo.Music">-->
<!--        <id column="id" property="id"/>-->
<!--        <result property="username" column="username"/>-->
<!--        <result property="password" column="password"/>-->
<!--    </resultMap>-->
</mapper>